@media (max-width: 1200px)
    .container
        max-width: 960px
    .hotel
        &-swiper
            width: 590px
    .swiper
        &-slide
            &__img
                height: 100%
                object-fit: cover
    .card
        max-width: 215px
        max-height: 215px
    .footer
        &-wrapper
            grid-template-columns: repeat(4, minmax(min-content, 1fr))
        &__input
            &--group
                flex-basis: 100%
        &__formation
            margin-left: 0

@media (max-width: 992px)
    .container, .newsletter-wrapper
        max-width: 700px
    .navbar
        &-top
            padding: 30px 0
        &__search
            margin-left: 57px
            margin-right: auto
        &-menu
            padding-top: 20px
            padding-bottom: 23px
            justify-content: space-around
            &__link
                font-size: 12px
                line-height: 15px
    .logo
        width: 132px
    .search__input
        width: 340px
        font-size: 12px
        line-height: 15px
    .hotel
        padding-bottom: 55px
        padding-top: 23px
        &-info
            &__offer
                margin-top: 4px
            &__description
                &--space
                    display: inline
        &-grid
            flex-direction: column
        &-swiper
            margin-bottom: 30px
        &-right-wrapper
            flex-direction: row
            justify-content: space-between
        &-swiper
            width: 100%
            height: 450px
            &__button
                background-size: 9px
                top: 50%
                &--next
                    right: 16px
                &--prev
                    left: 16px

    .booking
        width: 340px
        height: 210px
        margin-bottom: 0
        margin-right: 20px
        padding-top: 25px
        padding-left: 23px
        padding-right: 22px
        &__button
            min-height: 45px
        &__decription
            margin-left: 10px
    .map
        width: 340px
    .newsletter
        padding: 73px 0
    .reviews
        &-slider
            &__item
                max-width: 579px
                margin-top: 33px
            &__text
                font-family: Mulish
                font-style: normal
                font-weight: normal
                font-size: 12px
                line-height: 160%
                text-align: justify
            &__button
                top: 51%
                &--next
                    right: -9px
                &--prev
                    left: 10px

        &-title
            font-family: Mulish
            font-style: normal
            font-weight: bold
            font-size: 30px
            line-height: 38px
            text-align: center
            text-transform: uppercase
            margin-bottom: 51px
    .reviews
        &-slider
            &__profile
                margin-top: -33px
    .card
        min-width: 339px
        min-height: 255px
    .activites
        &-wrapper
            flex-wrap: wrap
        &__card
            margin-bottom: 20px
    .footer
        padding-top: 73px
        &-wrapper
            grid-template-columns: repeat(6, 1fr)
            grid-row-gap: 40px
        &__input
            width: 255px
            &--group
                flex-basis: 47%
        &__formation
            margin-left: 0
            grid-column: span 2
        &__information
            grid-column: 2 span
        &__logo
            grid-row: 1 / 2
            grid-column: span 2
            width: 104px
            height: 120px
        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 4
                align-self: center
        &__categories
            grid-row: 2 / 3
            grid-column: span 2
        &__contact
            &-details
                grid-row: 3
                grid-column: span 5
            &-form
                grid-row: 4
                grid-column: span 5
        &__under
            &-list
                padding-left: 0
                grid-column: span 6
@media (max-width: 767px)
    .container, .newsletter-wrapper
        max-width: 576px
        width: 92%
    body
        padding-top: 78px
    .navbar
        &__search,&__user
            &--mobile
                &--hidden
                    display: none
                &--visible
                    display: block
                    align-self: center
        &__search
            &--mobile
                &--visible
                    margin: 0 auto
                    width: 100%

        &__user
            &--mobile
                &--visible
                    display: flex
                    flex-direction: column
                    justify-content: center

        &-top
            padding: 28px 0
        &--modile
            &--fixed
                position: fixed
                left: 0
                top: 0
                right: 0
                z-index: 999
        &-bottom
            display: none
            left: 0
            right: 0
            bottom: 0
            top: 78px
            &--visible
                display: block
        &-menu
            flex-direction: column
            &__item
                margin-bottom: 20px
    .menu
        &-btn
            display: flex
            align-items: center
            flex-direction: column
            justify-content: space-between
            height: 11px
            margin: 0
            padding: 0
            border: none
            cursor: pointer
            right: 9px
            margin-top: 4px
            &__line
                width: 16px
                height: 1px
                background-color: #333333
    .breadcrumb
        &-list
            padding-top: 21px
    .hotel
        padding-top: 0
        padding-bottom: 40px
        &-wrapper
            justify-content: space-between
        &-info
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
            &__text
                width: 100%
            &__name
                flex-basis: 100%
                margin-top: 10px
                white-space: nowrap
            &__description
                &--space
                    display: none
    .stars
        flex-basis: auto

    .hotel
        &-right-wrapper
            flex-direction: column
            width: 100%
        &-info
            padding-bottom: 37px
    .booking
        width: 100%
        margin-right: 0
        margin-bottom: 20px
    .map
        width: 100%
    .newsletter
        &-wrapper
            flex-direction: column
            align-items: flex-start
    .reviews
        &-slider
            &__item
                padding: 0 30px 30px
                &::after, &::before
                    display: none
            &__text
                font-family: Mulish
                font-style: normal
                font-weight: normal
                font-size: 12px
                line-height: 160%
                text-align: justify
            &__button
                top: 6%
                background-color: rgba(0,0,0,0)
                &--prev
                    left: 50%
                    margin-left: -65px
                    transform: translate(-50%, 0)
                &--next
                    right: 50%
                    margin-right: -65px
                    transform: translate(50%, 0)
        &-title
            font-family: Mulish
            font-style: normal
            font-weight: bold
            font-size: 18px
            line-height: 23px
            text-align: center
            text-transform: uppercase
            padding: 0 16px
    .user
        &__avatar
            margin-right: 0
        &__name
            &--light
                color: $light
    .card
        min-width: 100%
        min-height: 255px
    .footer
        &__input
            width: 100%
            &--group
                flex-basis: 100%
@media (max-width: 576px)
    .container, .newsletter-wrapper
        width: 440px
    .navbar
        &-top
            padding-top: 25px
    .logo
        width: 99px
    .hotel
        &-swiper
            width: 100%
            height: 240px
            margin-bottom: 20px
        &-button
            background-size: 6px
            &--next
                right: 6px
            &--prev
                left: 6px
    .newsletter
        padding: 39px 0 83px 1px
        &-wrapper
            flex-direction: column
            align-items: flex-start
        &-title
            font-family: Mulish
            font-style: normal
            font-weight: 300
            font-size: 20px
            line-height: 25px
            margin-bottom: 39px
            margin-top: 0
            &__strong
                font-family: Mulish
                font-style: normal
                font-weight: 600
                font-size: 30px
                line-height: 38px
    .subscribe
        width: 100%
    .footer
        &-wrapper
            grid-template-columns: 1fr
        &__logo
            grid-row: 1
            grid-column: 1
        &__social
            &-network
                grid-row: 2
                grid-column: 1
        &__formation
            grid-row: 3
            grid-column: 1
        &__information
            grid-row: 4
            grid-column: 1
        &__categories
            grid-row: 5
            grid-column: 1
        &__contact-details
            grid-row: 6
            grid-column: 1
        &__contact-form
            grid-row: 7
            grid-column: 1

@media (max-width: 480px)
    .container, .newsletter-wrapper
        width: 280px
    .navbar
        &-top
            padding-top: 23px
    .logo
        width: 99px
    .hotel
        &-swiper
            width: 100%
            height: 179px
            &__button
                background-size: 5px
                &--next
                    right: -3px
                    top: 51%
                &--prev
                    left: -3px
                    top: 51%
    .search__input
        width: 100%
