@media (max-width: 1200px)
    .container
        max-width: 960px
    .swiper
        width: 590px
        &-slide
            &__img
                height: 100%
                object-fit: cover
@media (max-width: 992px)
    .container, .newsletter-wrapper
        max-width: 700px
    .navbar
        &-top
            padding: 30px 0
        &__search
            margin-left: 57px
            margin-right: auto
        &-menu
            padding-top: 20px
            padding-bottom: 23px
            justify-content: space-around
            &__link
                font-size: 12px
                line-height: 15px
    .logo
        width: 132px
    .search__input
        width: 340px
        font-size: 12px
        line-height: 15px
    .swiper
        width: 100%
        height: 450px
    .hotel
        padding-bottom: 55px
        &-grid
            flex-direction: column
        &-swiper
            margin-bottom: 30px
        &-right-wrapper
            flex-direction: row
            justify-content: space-between
        &-swiper
            width: 100%
            height: 450px
            &__button
                background-size: 9px
                &--next
                    right: 16px
                    top: 50%
                &--prev
                    left: 16px
                    top: 50%
    .booking
        width: 340px
        height: 210px
        margin-bottom: 0
        margin-right: 20px
        padding-top: 24px
        padding-right: 20px
    .map
        width: 340px
    .newsletter
        padding: 92px 0
@media (max-width: 767px)
    .container
        max-width: 576px
        width: 92%
    .navbar
        &__search,&__user,&-bottom
            display: none
        &-top
            padding: 28px 0
    .menu
        &-btn
            display: flex
            align-items: center
            flex-direction: column
            justify-content: space-between
            height: 11px
            margin: 0
            padding: 0
            border: none
            cursor: pointer
            right: 9px
            transform: translateX(9px)
            margin-top: 4px
            &__line
                width: 16px
                height: 1px
                background-color: #333333
    .breadcrumb
        &-list
            padding-top: 21px
    .hotel
        padding-top: 0
        padding-bottom: 40px
        transform: translateX(-4px)
        &-wrapper
            justify-content: space-between
        &-info
            &__rating
                display: none
            &__offer
                order: -1
                margin-left: 0
            &__text
                width: 100%
            &__name
                flex-basis: 100%
                margin-top: 10px
                white-space: nowrap
    .stars
        flex-basis: auto

    .hotel
        &-right-wrapper
            flex-direction: column
            width: 100%
        &-info
            padding-bottom: 37px
    .booking
        width: 100%
        margin-right: 0
        margin-bottom: 20px
    .map
        width: 100%
@media (max-width: 576px)
    .container
        width: 440px
    .navbar
        &-top
            padding-top: 25px
    .logo
        width: 99px
    .swiper
        width: 100%
        height: 240px
        margin-bottom: 20px
        &-button
            background-size: 6px
            &--next
                right: 6px
            &--prev
                left: 6px
    .newsletter
        padding: 76px 0 83px 20px
        &-wrapper
            flex-direction: column
            align-items: flex-start
@media (max-width: 480px)
    .container
        width: 280px
    .navbar
        &-top
            padding-top: 23px
    .logo
        width: 99px
    .hotel
        &-swiper
            width: 100%
            height: 177px
            &__button
                background-size: 5px
                &--next
                    right: -3px
                    top: 51%
                &--prev
                    left: -3px
                    top: 51%
