.navbar
    background-color: #fff
    &-top
        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 40px
        padding-bottom: 40px
        &__menu-btn
            display: none
    &__search
        margin-right: auto
        margin-left: 108px
    &-bottom
        background-color: $dark
    &-menu
        display: flex
        align-items: center
        justify-content: space-between
        margin: 0
        padding-top: 30px
        padding-bottom: 31px
        padding-left: 0
        list-style: none
        &__item
            &:nth-child(1)
                display: none
            &:nth-child(2)
                display: none

        &__link
            color: $light
            text-decoration: none
            text-transform: uppercase
            font-size: 14px
            line-height: 18px

.logo
    width: 177px
    margin-left: 3px
    &__img
        margin: 0
        padding: 0

.search
    display: flex
    position: relative
    overflow: hidden
    border-radius: 6px
    height: 40px
    &__input
        width: 350px
        height: 100%
        padding-left: 23px
        padding-right: 75px
        background-color: #F5FAFE
        border: none
        font-size: 12px
        line-height: 15px
        &:focus-visible
            outline: none
    &__button
        position: absolute
        top: 0
        right: 0
        width: 65px
        height: 100%
        border: none
        background-color: $primary-color
    &__icon
        width: 16px
        height: 16px

.user
    display: flex
    align-items: center
    text-decoration: none
    right: 50%
    margin-right: -63px
    &__avatar
        width: 40px
        height: 40px
        border-radius: 50%
        object-fit: cover
        margin-right: 18px
    &__name
        color: #333333
        font-size: 14px
        line-height: 18px
        margin-right: 50px
.navbar
    &__user, &__search
        &--mobile
            &--visible
                display: none
